*{
	padding: 0;
	margin: 0;
	outline: 0;
}
ul,ol{
	list-style: none;
}

a,a:hover{
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p,ul,ol,span,div{
	padding: 0;
	margin: 0;
}
body{

}
/*
font-family: 'Cardo', serif;
font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/

/*banner part start*/
#banner{
	background-image: url(../images/banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	
}
.header {
	padding-top: 36px;
	
}
.menu{
	padding-top:40px;
}
.menu a{
	
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	font-size:13px;
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
}
.banner_content h1{
	text-align: center;
	color: white;
	font-size:65px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	
}
.content1{
padding-top: 190px;	
}
.banner_content p{
	text-align: center;
	font-weight: 400;
	font-size: 22px;
	color: #f5f5f6;
	font-family: 'Raleway', sans-serif;
}
.text{
	padding-top:40px ;
}

.banner_content button{
	height: 50px;
	width: 180px;
	background-color: #e84545;
	text-transform: uppercase;
	color: white;
	margin-top:78px ;
	margin-bottom: 150px;
	font-weight: 400;
	font-size: 13px;
	border: none;
	margin-left: 42%;
	font-family: 'Raleway', sans-serif;
}
/*banner part end*/
/*ser part start*/
 #ser{
 	background-color: #ffffff;
 	padding: 120px 200px;
 }

.col_img{
	text-align:center;
	margin-bottom: 26px;

}
.col_content h4{
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}
.col_content p{
	text-align: center;
	font-weight: 400;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	margin-top: 22px;
}
.seccol{
	margin-top: 70px;
}
/*ser part end*/

#images{
	margin-bottom: 100px;
}
.img1{
	position: relative;

}
.img1 img{
	width: 321px;
	height: 320px;
}
.img_overlay{
	background-color: rgba(213, 65, 65, .8);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
  transform: scale(0);
	display:flex;
	justify-content: center;
	align-items: center;
	transition: all linear .3s;
}

.img1:hover .img_overlay{
	transform: scale(1);
	transition: all linear .3s;

}	
.img_overlay h4{
	color: white;
	font-size: 14px;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	text-transform: uppercase;

}
.img_overlay h6{
	color: #f8e2e2;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	

}
.overlay{
	margin-top: 1px;
}



/*img part end*/


}
/*team part start*/
#team{
	padding: 100px 0;
}
.t_content h4{
	font-weight: 400;
	font-size: 22px;
	font-family: 'Raleway', sans-serif;
	margin-top: 20px;

}
.t_content h6{
	font-weight: 400;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
	margin-top: 10px;
	margin-bottom: 22px;
	color: #eb6868;
}

.t_content p{
	font-weight: 400;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 32px;
	line-height: 22px;
}

.t_icon  a{
	height: 80px;
	width: 80px;
	/*background-color: #e8ecee;*/
	border-style: solid;
	color: #c6cacc;
	border-color:#e8ecee ;
	padding: 10px;
}
/*team part end*/



/*slide part start*/

#slide{
	margin-top: 100px;
	height: 350px;
	width: 100%;
	background-color: dimgray;	
}
.secslide img,
.firstslide img{
	height: 350px;
	width: 687px;
}


/*slide part end*/
/*download part start*/
 .white{
 	padding: 100px 0;
 }
.white h4{
	font-weight: 400;
	font-size: 28px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: #a5a6a7;
	text-shadow: 2px solid black;
}

.white p{
	font-weight: 700;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
	margin-top: 20px;
	text-align: center;
	text-transform: uppercase;
}
.white button{
	font-weight: 400;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
	color: white;
	height: 45px;
	width: 270px;
	background-color: #e84545;
	text-align: center;
	border: none;
	margin-left: 40%;
	margin-top: 40px;
	text-transform: uppercase;
	border-radius: 3px;
}

/*download part end*/
/*footer start */
footer{
	background-color: #3a3e64;
	padding-bottom: 92px;
}
.location h4{
	font-weight: 700;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	padding-bottom: 10px;
	padding-top: 66px;
	text-align: center;
	color: white;
}
.location p{
	font-weight: 400;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: #888a9d;
}
.location ul li a{
	height: 60px;
	width: 60px;
	border: 2px solid white;
	color: white;
	padding: 5px;
	margin-top: 20px;
	border-radius: 3px;

}
.location ul li{
	margin-top: 12px;
	text-align: center;
}

/*footer end*/
#footermain{
	background-color: #313454;
	padding: 28px 0;
}
#footermain h5{
	color: #656670;
	font-weight: 400;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
span{
	
	color: white;
	font-size: 14px;
	font-family: 'Open Sans;', sans-serif;
	font-weight: 500;
}
.f_copy{
	padding-bottom: 10px;
}